@import url('tailwindcss');
@import url('tw-animate-css');

@custom-variant dark (&:is(.dark *));

@theme {
  /* reset */
  --color-*: initial;

  /* constants */
  --color-white: #fff;
  --color-black: #000;

  /* slate */
  --color-slate-100: #f0f2f8;
  --color-slate-200: #c8cdd6;
  --color-slate-300: #a1a7b0;
  --color-slate-400: #6e747e;
  --color-slate-500: #4a4e54;
  --color-slate-600: #2e2e2e;

  /* utility  */
  --color-red-100: #ff6b6b;
  --color-red-200: #f94b4b;
  --color-blue-100: #7cacff;
  --color-blue-200: #5c98f9;
  --color-green-100: #a3d795;
  --color-green-200: #91cb80;
  --color-yellow-100: #ffd966;
  --color-yellow-200: #fbcd44;
}

:root {
  overflow: hidden;

  /* shape */
  --radius: 0.5rem;

  /* theming accents */
  --background-accent: var(--color-black);
  --border-accent: var(--color-black);
  --text-accent: var(--color-black);

  /* Semantic */
  --background-default: var(--color-white);
  --background-medium: var(--color-slate-200);
  --background-muted: var(--color-slate-100);
  --background-inverse: var(--color-black);
  --background-danger: var(--color-red-200);
  --background-success: var(--color-green-200);
  --background-info: var(--color-blue-200);
  --background-warning: var(--color-yellow-200);
  --border-default: var(--color-slate-200);
  --border-input: var(--color-slate-200);
  --border-strong: var(--color-slate-300);
  --border-inverse: var(--color-black);
  --border-danger: var(--color-red-200);
  --border-success: var(--color-green-200);
  --border-warning: var(--color-yellow-200);
  --border-info: var(--color-blue-200);
  --text-default: var(--color-slate-600);
  --text-muted: var(--color-slate-400);
  --text-inverse: var(--color-white);
  --text-danger: var(--color-red-200);
  --text-success: var(--color-green-200);
  --text-warning: var(--color-yellow-200);
  --text-info: var(--color-blue-200);
  --ring: var(--border-strong);
  --chart-1: #f6b44a;
  --chart-2: #7585ff;
  --chart-3: #d76a6a;
  --chart-4: #d185e0;
  --chart-5: #91cb80;
  --sidebar: var(--background-default);
  --sidebar-foreground: var(--text-default);
  --sidebar-primary: var(--background-accent);
  --sidebar-primary-foreground: var(--text-inverse);
  --sidebar-accent: var(--background-muted);
  --sidebar-accent-foreground: var(--text-default);
  --sidebar-border: var(--border-default);
  --sidebar-ring: var(--border-default);
}

.dark {
  /* theming accents */
  --background-accent: var(--color-white);
  --border-accent: var(--color-white);
  --text-accent: var(--color-white);

  /* semantic */
  --background-default: var(--color-black);
  --background-medium: var(--color-slate-500);
  --background-muted: var(--color-slate-600);
  --background-inverse: var(--color-white);
  --background-danger: var(--color-red-100);
  --background-success: var(--color-green-100);
  --background-info: var(--color-blue-100);
  --background-warning: var(--color-yellow-100);
  --border-default: var(--color-slate-600);
  --border-input: var(--color-slate-600);
  --border-strong: var(--color-slate-200);
  --border-inverse: var(--color-white);
  --border-danger: var(--color-red-200);
  --border-success: var(--color-green-200);
  --border-warning: var(--color-yellow-200);
  --border-info: var(--color-blue-200);
  --text-default: var(--color-white);
  --text-muted: var(--color-slate-300);
  --text-inverse: var(--color-black);
  --text-danger: var(--color-red-100);
  --text-success: var(--color-green-100);
  --text-warning: var(--color-yellow-100);
  --text-info: var(--color-blue-100);
  --ring: var(--border-strong);
  --chart-1: #f6b44a;
  --chart-2: #7585ff;
  --chart-3: #d76a6a;
  --chart-4: #d185e0;
  --chart-5: #91cb80;
  --sidebar: var(--background-default);
  --sidebar-foreground: var(--text-default);
  --sidebar-primary: var(--background-accent);
  --sidebar-primary-foreground: var(--text-inverse);
  --sidebar-accent: var(--background-muted);
  --sidebar-accent-foreground: var(--text-default);
  --sidebar-border: var(--border-default);
  --sidebar-ring: var(--border-default);
}

@theme inline {
  /* semantic */
  --color-background-default: var(--background-default);
  --color-background-medium: var(--background-medium);
  --color-background-inverse: var(--background-inverse);
  --color-background-muted: var(--background-muted);
  --color-background-danger: var(--background-danger);
  --color-background-success: var(--background-success);
  --color-background-info: var(--background-info);
  --color-background-warning: var(--background-warning);
  --color-background-accent: var(--background-accent);
  --color-border-accent: var(--border-accent);
  --color-text-accent: var(--text-accent);
  --color-border-default: var(--border-default);
  --color-border-input: var(--border-input);
  --color-border-strong: var(--border-strong);
  --color-border-inverse: var(--border-inverse);
  --color-border-danger: var(--border-danger);
  --color-border-success: var(--border-success);
  --color-border-warning: var(--border-warning);
  --color-border-info: var(--border-info);
  --color-text-default: var(--text);
  --color-text-muted: var(--text-muted);
  --color-text-inverse: var(--text-inverse);
  --color-text-danger: var(--text-danger);
  --color-text-success: var(--text-success);
  --color-text-warning: var(--text-warning);
  --color-text-info: var(--text-info);

  /* fonts */
  --font-sans: 'Cash Sans', sans-serif;
  --font-mono: 'Cash Sans Mono', monospace;
  --font-serif: serif;

  /* shape */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
  font-family: 'Cash Sans';
  src:
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Light.woff2')
      format('woff2'),
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cash Sans';
  src:
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Regular.woff2')
      format('woff2'),
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cash Sans';
  src:
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff2/CashSans-Medium.woff2')
      format('woff2'),
    url('https://cash-f.squarecdn.com/static/fonts/cashsans/woff/CashSans-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cash Sans Mono';
  src: url('../assets/fonts/CashSansMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cash Sans Mono';
  src: url('../assets/fonts/CashSansMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border-default;
  }

  body {
    @apply bg-background-default text-text-default;
  }
}

.titlebar-drag-region {
  -webkit-app-region: drag;
  height: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
